*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Arial";
}
.main{
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    text-align: right;
}
.main nav ul li{
    display: inline;
    font-size: 20px;
}
.footer{
    background-color: darkcyan;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
.footer .caja{
    display: inline-block;
    height: 50px;
}
.footer .caja p{
    margin-right: 40px;
    line-height: 50px;
}
.footer .caja form input{
    outline: none;
    padding: 10px;
}
.footer .caja form input::placeholder{
    color: darkblue;
}
.footer .caja form input:focus{
    border:2px solid darkblue;
    font-size: 13px;
}
.footer .caja form input:focus::placeholder{
    color: skyblue;
}
.btn{
    padding: 10px 8px;
    color: #fff;
    border:none;
}
.btn-success{
    background-color: rgb(0, 89, 255);
}