*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Arial";
}
.main{
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    text-align: right;
}
.main nav ul li{
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}
/*SECCION DEL BODY*/

.body{
    padding: 20px;
    min-height: calc(100vh - 161px);   
}
.body .contenedor{
    padding-top:20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.body .contenedor .anuncio{
    margin: auto;
    border:2px solid #333;
    width: 350px;
    padding: 10px;
}
.body .contenedor .anuncio .headAnuncio{
    text-align: center;
    height: 90px;
}
.body .contenedor .anuncio .acciones{
    margin: 0 auto;
    width: 60%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
@media(max-width:1200px){
.body .contenedor{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
}
@media(max-width:1110px){
    .body .contenedor{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    }
}
@media(max-width:755px){
        .body .contenedor{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}

/*SECCION DEL BODY*/

.footer{
    background-color: darkcyan;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
.footer .caja{
    display: inline-block;
    height: 50px;
}
.footer .caja p{
    margin-right: 40px;
    line-height: 50px;
}
.footer .caja form input{
    outline: none;
    padding: 10px;
}
.footer .caja form input::placeholder{
    color: darkblue;
}
.footer .caja form input:focus{
    border:2px solid darkblue;
    font-size: 13px;
}
.footer .caja form input:focus::placeholder{
    color: skyblue;
}
.btn{
    padding: 10px 8px;
    color: #fff;
    border:none;
}
.btn-success{
    background-color: rgb(0, 89, 255);
}